:root {
  --color-rojo: rgba(254, 2, 2);
  --color-azul: rgba(0, 0, 255);
}
 #root {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0;
   text-align: center;
 }
* {
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: rgb(95, 199, 199);
  justify-content: center;
  align-items: center;
    background: linear-gradient(to right, var(--color-rojo), var(--color-azul));
  position: relative;
  height: 100vh;
}
.titulo {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, var(--color-rojo), var(--color-azul));
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin: 0;
}

.contadores {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contadorO,
.contadorX {
  padding: 10px;
  border-radius: 20px;
}
.contadorX,.xRojo {
  background-color: var(--color-rojo);
}
.contadorO,.oAzul{
  background-color: var(--color-azul);
}
.mensajeGanador {
  border-radius: 1rem;
  background-color: rgb(1, 1, 1);
  color: white;
  font-size: 20px;
}
.tablero {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}
.casilla {
  background-color: black;
  color: white;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  font-size: 4rem;
}
.reiniciar {
  margin-top: 1rem;
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
}
.centrar {
  height: 21rem;
  width: 21.5rem;
  transform: translate(-50%, -50%);
  top: 56%;
  left: 50%;
  position: absolute;
  background-color: rgb(255 255 255 / 74%);
  color: black;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  margin: 0px;
  z-index: 1;
  backdrop-filter: blur(4px);
}
.marco {
  padding: 10px 50px;
  border-radius: 20px;
  border: 2px solid;
  background-color: rgba(255, 254, 254, 0.23);

}
.xRojo,
.oAzul {
  transition: background-color 0.3s ease-in-out;
}

